
/* controls container characteristics like size background etc */

.container {
    /* clear: both; */
    width: 30%;
    background: white;
    float: right;
    height: 600px;
    border: solid black 1px;
    margin-top: 5%;
    display: block;
    margin-right: 10%;
}

/* image container characteristics within the controls container */

.imagecontainer {
    height: 100%;
    width: 30%;
    border: solid black 1px;
    float: left;
}

/* size of the image within the imagecontainer */

.container img {
    width: 100%;
    height: 100%;
    /* border: solid black 1px; */
    /* margin-top: 7px; */
    /* margin-left: 8px; */
}


/* this is the container which has the following elements: image container and the textcontainer Controls */

.verticalcontainer {
    height: 28.3%;
    width: 100%;
    float: left;
    border: solid black 1px;
}

/* Title container is the container which holds the text "Controls" */

.Titlecontainer {
    width: 100%;
    text-align: center;
    height: 15%;
    border: solid black 1px;
    background: green;
    color: white;
}
.Titlecontainer h1{

    color:white;
}


/* text container within the controls container, here you can define the size of the container plus the style of the text */

.textcontainerControls {
    height: 100%;
    border: solid black 1px;
    float: left;
    width: 70%;
    text-align: justify;
}
.container h3{

    color:black;
}