/* text container containing the title plus the actual text */
.displaytext {
  width: 40%;
  float: left;
  margin-left: 10%;
  margin-top:4%;
  margin-bottom:5%;
}

/* text displayed in the text container */
.displaytext h3{
  font-size:30px;
  color:black;
  text-align:justify;

}

/* title displayed in the text container */
.displaytext h1{

text-align: center;
color:black;

}