* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width:100%;
    margin: auto;
    height: 450px;
    clear:both;
}

/* size of the image within the container */
.slideshow-container img{
	width: 100%;;
	height:450px;
	
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}